**

!Dockerfile
!.dockerignore
!package.json
!package-lock.json
!tsconfig.json
!LICENSE
!NOTICE
!src/
!src/**/
!src/**/*.ts
!src/store/sql/continuation-runtime-v1.sql
!src/store/sql/continuation-runtime-v1.manifest.json
!tools/
!tools/clean-continuation-runtime-v1-build.mjs
!tools/copy-continuation-runtime-v1-assets.mjs
!tools/stage-continuation-runtime-v1-oci.mjs
